.p_con{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	width:100%;
	background-color: #bf768b;
	padding: 1%;
	vertical-align: middle;
	position: fixed;
}
.c_con{
	font-family: Lucida, sans-serif;
	width: 10%;
	justify-content: flex-start;
	font-weight: 200;
	font-size: 83%;
	display: inline-block;
	text-align: center;
}

.c_con_right{
    font-family: Lucida, sans-serif;
	width: 12%;
    font-weight: 200;
    font-size: 83%;
	display: inline-block;
	text-align: center;
	margin-left: 48%;
}

.logo{
	font-family: "Brush Script MT";
	font-size:300%;
}

.p_logo{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-top: 4%;
	padding-left: 2%;
	padding-bottom: 1%;
	width: 98%;
	background-color: #bca895;
}


.c_logo{
    font-family: Lucida, sans-serif;
    font-weight: 200;
    font-size: 83%;
	text-align: center;
}

.body_str{
	width: 60vw;
}

hr{
	width: 80%;
	margin-left: 0;
}

