.c_con{
	font-family: Lucida, sans-serif;
	width: 10%;
	justify-content: flex-start;
	font-weight: 200;
	font-size: 83%;
	display: inline-block;
	text-align: center;
}

.c_con_right{
    font-family: Lucida, sans-serif;
	width: 12%;
    font-weight: 200;
    font-size: 83%;
	display: inline-block;
	text-align: center;
	margin-left: 48%;
}

.c_logo{
    font-family: Lucida, sans-serif;
    font-weight: 200;
    font-size: 83%;
	text-align: left;
	display: inline-block;
	width: 20%;
	justify-content: flex-start;
}

.body_str{
	width: 60vw;
}

hr{
	width: 80%;
	margin-left: 0;
}

.show_des{
	color: #905f68;
}
