.p_ava{
    display: flex;
}
.c_ava{
    font-family: Lucida, sans-serif;
    text-align: center;
    width:45%
}
.body_str{
    width: 80vw;
}

.head1{
    font-size: 107%;
    font-family: Lucida, sans-serif;
    font-weight: 500;
}

table {
    width: 100%; /* Ширина таблицы */
    border-spacing: 1px; /* Расстояние между ячейками */
    background-color: #f9f8fa;
}
td {
    padding: 5px; /* Поля вокруг текста */
}

th {
    padding: 5px;
    background-color: #bea1a1;
}

.alert{
    background-color: #fae4e4;
}

.normal{
    background-color: #eafaf1;
}

.inf{
    background-color: #e2e1ff;
}

.p_con{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width:98%;
    background-color: #bf768b;
    padding: 1%;
    vertical-align: middle;
}



.c_con{
    font-family: Lucida, sans-serif;
    width: 10%;
    font-weight: 200;
    font-size: 83%;
    text-align: center;
}

.c_con_right{
    font-family: Lucida, sans-serif;
    width: 10%;
    font-weight: 200;
    font-size: 83%;
    display: inline-block;
    text-align: center;
    margin-left: 58vw;
}

.logo{
    font-family: "Brush Script MT";
    font-size:300%;
}

.p_logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 4%;
    padding-left: 2%;
    padding-bottom: 1%;
    width: 98%;
    background-color: #bca895;
}

.c_logo{
    font-family: Lucida, sans-serif;
    font-weight: 200;
    font-size: 83%;
    text-align: center;
}


.body_str A{
    color: #905f68;
    font-family: Lucida, sans-serif;
    font-weight: 200;
    font-size: 90%;
}

.body_str A:hover{
    color: #905f68;
    text-decoration: underline;
}

.grf
{
    width: 100%;
    text-align: left;
    padding-left: 10%;
}

body, html {
    margin: 0;

}
.container {
    position: relative;
    height: 100%;
    width: 100%;
    left: 0;
    -webkit-transition:  left 0.4s ease-in-out;
    -moz-transition:  left 0.4s ease-in-out;
    -ms-transition:  left 0.4s ease-in-out;
    -o-transition:  left 0.4s ease-in-out;
    transition:  left 0.4s ease-in-out;
}
.container.open-sidebar {
    left: 240px;
}
.swipe-area {
    position: absolute;
    width: 50px;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 0;
}
#sidebar {
    position: absolute;
    width: 17%;
    height: 100%;
    left: -18%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#sidebar ul li {
    margin: 0;
}
#sidebar ul li a {
    padding: 15px 20px;
    text-decoration: none;
    display: block;
    color:black;
    border-bottom: 1px solid #C9223D;
    -webkit-transition:  background 0.3s ease-in-out;
    -moz-transition:  background 0.3s ease-in-out;
    -ms-transition:  background 0.3s ease-in-out;
    -o-transition:  background 0.3s ease-in-out;
    transition:  background 0.3s ease-in-out;
    background-color: #d48aaf;
}
#sidebar ul li:hover a {
    background: #C9223D;
}
.main-content {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
}
.main-content .content{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-left: 60px;
    width: 100%;
}
.main-content .content h1{
    font-weight: 100;
}
.main-content .content p{
    width: 100%;
    line-height: 160%;
}
.main-content #sidebar-toggle {
    background: #DF314D;
    border-radius: 3px;
    display: block;
    position: relative;
    padding: 10px 7px;
    float: left;
}
.main-content #sidebar-toggle .bar{
    display: block;
    width: 18px;
    margin-bottom: 3px;
    height: 2px;
    background-color: #ff919f;
    border-radius: 1px;
}
.main-content #sidebar-toggle .bar:last-child{
    margin-bottom: 0;
}