.p_ava{
    display: flex;
}
.c_ava{
    font-family: Lucida, sans-serif;
    text-align: center;
    width:45%
}
.body_str{
    width: 80vw;
}

.head1{
    font-size: 107%;
    font-family: Lucida, sans-serif;
    font-weight: 500;
}

table {
    width: 100%; /* Ширина таблицы */
    border-spacing: 1px; /* Расстояние между ячейками */
    background-color: rgb(205,223,185);
}
td {
    padding: 5px; /* Поля вокруг текста */
}

th {
    padding: 5px;
    background-color: rgb(123,161,150);
}

.alert{
    background-color: #ffc0c3;
}

.normal{
    background-color: #cdfab1;
}

.inf{
    background-color: #d0cfff;
}

.c_con{
    font-family: Lucida, sans-serif;
    width: 10%;
    font-weight: 200;
    font-size: 83%;
    text-align: center;
}

.c_con_right{
    font-family: Lucida, sans-serif;
    width: 10%;
    font-weight: 200;
    font-size: 83%;
    display: inline-block;
    text-align: center;
    margin-left: 58vw;
}

.logo{
    font-family: "Brush Script MT";
    font-size:300%;
}

.p_logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 4%;
    padding-left: 2%;
    padding-bottom: 1%;
    width: 98%;
    background-color: #bca895;
}

.c_logo{
    font-family: Lucida, sans-serif;
    font-weight: 200;
    font-size: 83%;
    text-align: left;
    display: inline-block;
    width: 15%;
    justify-content: flex-start;
}


.body_str A{
    color: rgb(31,41,43);
    font-family: Lucida, sans-serif;
    font-weight: 200;
    font-size: 90%;
}

.body_str A:hover{
    color: rgb(31,41,43);
    text-decoration: underline;
}
.grf
{
    width: 100%;
    text-align: left;
    padding-left: 10%;
}
body, html {
    margin: 0;

}
.container {
    position: relative;
    height: 100%;
    width: 100%;
    left: 0;
    -webkit-transition:  left 0.4s ease-in-out;
    -moz-transition:  left 0.4s ease-in-out;
    -ms-transition:  left 0.4s ease-in-out;
    -o-transition:  left 0.4s ease-in-out;
    transition:  left 0.4s ease-in-out;
}
.container.open-sidebar {
    left: 240px;
}
.swipe-area {
    position: absolute;
    width: 50px;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 0;
}
#sidebar {
    position: absolute;
    width: 17%;
    height: 100%;
    left: -18%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#sidebar ul li {
    margin: 0;
}
#sidebar ul li a {
    padding: 15px 20px;
    text-decoration: none;
    display: block;
    color:black;
    border-bottom: 1px solid rgb(31,41,43);
    -webkit-transition:  background 0.3s ease-in-out;
    -moz-transition:  background 0.3s ease-in-out;
    -ms-transition:  background 0.3s ease-in-out;
    -o-transition:  background 0.3s ease-in-out;
    transition:  background 0.3s ease-in-out;
    background-color: rgb(173,194,163);
}
#sidebar ul li:hover a {
    background: rgb(205,223,185);
}
.main-content {
    width: 100%;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
}
.main-content .content{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-left: 60px;
    width: 100%;
}
.main-content .content h1{
    font-weight: 100;
}
.main-content .content p{
    width: 100%;
    line-height: 160%;
}
.main-content #sidebar-toggle {
    background: rgb(31,41,43);
    border-radius: 3px;
    display: block;
    position: relative;
    padding: 10px 7px;
    float: left;
}
.main-content #sidebar-toggle .bar{
    display: block;
    width: 18px;
    margin-bottom: 3px;
    height: 2px;
    background-color: rgb(173,194,163);
    border-radius: 1px;
}
.main-content #sidebar-toggle .bar:last-child{
    margin-bottom: 0;
}

.marks{
    font-size: large;
}

.my_marks_diagram
{
    font-size: small;
}

.screen {
    width: 90%;
    border: 1px solid rgb(31,41,43);
//    border-radius: 10px 10px;
    height: 400px;
        overflow-y:scroll;
    overflow-x: hidden;
}

.chat_input input[type = "text"]
{
    width: 60%;
    min-height: 20px;
}

.text_chat_message
{
    padding-left: 4%;
    padding-bottom: 4%;
}

.text_chat_name
{
    font-weight: 600;
    padding-left: 2%;
    text-align: left;
}

.text_chat_date
{
    text-align: right;
    padding-left: 10%;
}

.chat_message
{
    padding-top: 3%;
    min-height: 10%;
}

.cloud
{
    margin: 3%;
    max-width: 40%;
    min-height: 75px;
    padding: 2%;

    position: relative;
    background: rgb(205,223,185);
    border: 6px solid #d0f2dd;
}

.cloud:after, .cloud:before {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.cloud:after {
    border-color: rgba(227, 127, 50, 0);
    border-right-color: rgb(205,223,185);
    border-width: 30px;
    top: 50%;
    margin-top: -30px;
}
.cloud:before {
    border-color: rgba(208, 242, 221, 0);
    border-right-color: #d0f2dd;
    border-width: 38px;
    top: 50%;
    margin-top: -38px;
}

.mycloud
{
    margin: 3%;
    max-width: 40%;
    min-height: 75px;
    padding: 2%;

    position: relative;
    background: rgb(177, 223, 146);
    border: 6px solid #d0f2dd;
}

.mycloud:after, .mycloud:before {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.mycloud:after {
    border-color: rgba(227, 127, 50, 0);
    border-right-color: rgb(177, 223, 146);
    border-width: 30px;
    top: 50%;
    margin-top: -30px;
}
.mycloud:before {
    border-color: rgba(208, 242, 221, 0);
    border-right-color: #d0f2dd;
    border-width: 38px;
    top: 50%;
    margin-top: -38px;
}

.div_text_chat
{
    margin: 10%;
}