.p_con{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap-reverse;
	align-content: center;
	width:40%;
	background-color: red;
	padding: 1%;
	border: 1px solid black;
	border-radius: 5px;
}

.c_con{
    padding: 1%;
	border: 1px solid black;
	border-radius: 5px;
}